body {
    background-color: khaki;
    grid-gap: 3px;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 251, 5);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    user-select: none;      

}


body {
    display: grid;
    grid-template-columns: repeat(15, 1fr);  
}

.top:nth-child(2) {
    text-align: center;
    grid-column: 1 / 12;
    background-color: rgb(248, 120, 120);
}

.top:nth-child(3) {
    text-align: center;
    background-color: rgb(191, 152, 255);
    grid-column: 12 / 16;
}

select {
    grid-column: 1 / -1;
    width: 50%;
    height: 30px;
    border-radius: 5px;
}

.info:nth-child(-n+14), .info1:nth-child(-n+29) {
    background-color: rgb(255, 165, 165);
}

.info:nth-child(-n+14) {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.info1:nth-child(-n+29) {
    text-align: center;
}

.info:nth-child(n+15), .info1:nth-child(n+30) {
    background-color: rgb(221, 200, 255);
}

.info1:nth-child(n+30) {
    text-align: center;
}

.info:nth-child(n+15) {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.info, .info1, .top {
    padding: 5px;
    border-radius: 5px;
}

.info {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;      
}
