body {
    background-color: khaki;
    grid-gap: 3px;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 251, 5);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    user-select: none;      

}


body {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 2fr 2fr 2fr 1fr 1fr 2fr 5fr;  
}

.top:nth-child(2) {
    text-align: center;
    grid-column: 1 / -1;
    background-color: rgb(248, 120, 120);
}

.top:nth-child(3) {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    background-color: rgb(191, 152, 255);
}

select {
    grid-column: 1 / -1;
    width: 50%;
    height: 30px;
    border-radius: 5px;
}

.info:nth-child(-n+14), .info1:nth-child(-n+29) {
    background-color: rgb(255, 165, 165);
}

.info:nth-child(-n+14) {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.info1:nth-child(-n+29) {
    text-align: center;
}

.info:nth-child(n+15), .info1:nth-child(n+30) {
    background-color: rgb(221, 200, 255);
}

.info1:nth-child(n+30) {
    text-align: center;
}

.info:nth-child(n+15) {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.info, .info1, .top {
    padding: 5px;
    border-radius: 5px;
}

.info {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;      
}

.info:nth-child(15),
.info:nth-child(16),
.info:nth-child(17),
.info:nth-child(18) {
    grid-row: 8 / 9;
}

.info1:nth-child(30),
.info1:nth-child(31),
.info1:nth-child(32),
.info1:nth-child(33) {
    grid-row: 9 / 10;
}

.info1:nth-child(33),
.info:nth-child(18) {
    grid-column: 8 / 12;
}

.info1:nth-child(32),
.info:nth-child(17) {
    grid-column: 4 / 8;
}

.info1:nth-child(31),
.info:nth-child(16) {
    grid-column: 2 / 4;
}

.info1:nth-child(19),
.info1:nth-child(30)  {
    font: bold 25px Roboto;
}
